$base-fon-size: 22px;

@mixin ph {
  @media (max-width: 700px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}
body{
  background: #f00;
  font-size: $base-fon-size;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  @include ph {
    color: #fff;
  }
}
@import "block/title.scss";
@import "block/news.scss";